# Virtual environment
venv/
.venv/
env/

# Python bytecode
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# Database files
*.sqlite3
db.sqlite3

# IDE specific files
.idea/
.vscode/
*.iml

# Operating System specific files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/